<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= title %></a>
      <div class="nav-collapse">
        <ul id="main-menu" class="nav">
          <li class="active"><a data-time="all" href="/map">Past 30 days</a></li>
          <li><a data-time="week" href="#today">Past 7 days</a></li>
          <li><a data-time="day" href="#today">Past day</a></li>
          <li><a data-time="hour" href="#lasthour">Past hour</a></li>
          <li><a href="#lasthour">Zoom to Emilia Romagna</a></li>
          <!-- <li><a href="#last">Zoom to last earthquake</a></li> -->
          <!-- <li><a href="/about">About</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container-fluid">

<div class="row-fluid">
  <div class="span3">
          <div class="well sidebar-nav">
            <h3> Twitter voices </h3>
            <small> 
              <p>
               <a href="https://twitter.com/search?q=%23terremoto">#terremoto</a> 
               <a href="https://twitter.com/search?q=%23earthquake">#earthquake</a> 
              </p>
            </small>

            <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script>
            new TWTR.Widget({
              version: 2,
              type: 'search',
              search: '#terremoto OR #earthquake',
              interval: 30000,
              title: '',
              subject: '',
              width: 'auto',
              height: 800,
              theme: {
                shell: {
                  background: '#ffffff',
                  color: '800'
                },
                tweets: {
                  background: 'f7f7f7',
                  color: '247',
                  links: '247'
                }
              },
              features: {
                scrollbar: false,
                loop: false,
                live: true,
                behavior: 'all'
              }
            }).render().start();
            </script>
<!--
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          -->
          </div><!--/.well -->
        </div>

  <div id="map"></div>
  <div id="warning" class="modal">
      <div class="modal-header">
        <h3>Welcome to Live Earthquakes Map </h3>
        <a onclick="javascript:$('#warning').hide();" class="close" href="#">×</a>
      </div>
      <div class="modal-body">
        <p>Welcome! Please keep in mind that this is just only a very quick experiments to get live earthquakes events on a map, using Node.js, Socket.io, Express, Bootstrap and the excellent Leaflet map library. </p>
        <p> You can find code here: <a href="https://github.com/twinbit/node-live-earthquakemap">https://github.com/twinbit/node-live-earthquakemap</a></p>
        <p> Inspiration taken from: <a href="http://ulmapi-de.no.de/map">http://ulmapi-de.no.de/map </a> </p>
        <p> Data source: <a href="http://earthquake.usgs.gov">http://earthquake.usgs.gov </a> </p>
        <p> Please feel free to contribute and keep in touch with us: <a href="http://www.twitter.com/twinbit"> @twinbit </a>
      </div>
      <div class="modal-footer">
        <a class="btn primary" href="#" onclick="javascript:$('#warning').hide();">Close</a>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>
</div>

<!--
<div class="container">  
  <div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <div class="progress progress-danger progress-striped active">
        <div class="bar" style="width: 40%;"></div>
      </div>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
  <hr>
</div>
--> 